.Package {
    position: relative;
    display: inline-block;
    padding-top: 80px;
}

.Beli {
    position: absolute;
    left: 6%;
    bottom: 24%; 
    background-color: #b11616;
    color: white;
    font-size: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px #8d0101;
    transition: transform 0.4s ease-in-out;
}

.Beli:hover {
    background-color: #570101;
    box-shadow: 0 4px 8px #360000;
    transform: scale(1.2);
}

  
  
  /* The navbar */
  .topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .topnav a {
    float: left;
    align-items: center;
    color: #030303;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: rgb(128, 126, 126);
  }

  a
{
    text-decoration: none;
    font-weight: normal;
    color: white;
}

.Kon img
{ 
    width: 300px; 
    height: 360px;
    display: block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.4s ease-in-out;
    border-radius: 20px;
}
.Kon img:hover {
    width: 310px;
    height: 360px;
    transform: scale(1.15);
}

.Hot
{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.Con img
{ 
    width: 250px; 
    height: 310px;
    display: block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.4s ease-in-out;
    border-radius: 20px;
    justify-content: center;
    margin-bottom: 10px; /* Space sebelum bagian motto */
}
.Con img:hover {
    width: 260px;
    height: 310px;
    transform: scale(1.025);
}

.Checkout{
  padding: 10px;
  background-color: #a7a7a7;
}

.Motto {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background: black;
  color: white;
  padding: 20px;
  width: 100%;
  margin-top: 50px;
}

.carousel {
  width: 400px;
  height: 480px;
  position: relative;
  overflow: hidden;
  margin: auto; /* Centering */
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade 6s infinite alternate;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 3s;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
